In [1]:
import numpy as np
import scipy.stats as ss
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('svg')
%matplotlib inline

In [3]:
df = pd.read_csv('breakfasts.csv', na_values='*')
df.head(5)

   Unnamed: 0  Weight
0           0  20.440
1           1  20.244
2           2  20.549
3           3  20.755
4           4  20.740

In [5]:
df.describe()

        Unnamed: 0        Weight
count  10000.00000  10000.000000
mean    4999.50000     20.499212
std     2886.89568      0.199874
min        0.00000     19.752000
25%     2499.75000     20.365000
50%     4999.50000     20.500000
75%     7499.25000     20.635000
max     9999.00000     21.171000

In [7]:
df.shape

(10000, 2)

In [8]:
df[df['Weight'] < 20].shape

(55, 2)

In [9]:
from scipy.stats import norm

1000 * norm.cdf()

5.5