#  Практика.

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss
from typing import Callable
import pandas as pd

In [2]:
df = pd.read_csv('hw_6_data.txt', sep=' ', names=['first', 'second', 'third', 'winning', 'reporter?'])
df.head()

   first  second  third  winning  reporter?
0      2       0      0        0          1
1      0       5      1        0          1
2      0       0      0        0          1
3      2       0      0        0          1
4      0       0      0        0          1

In [3]:
df = df[df['reporter?'] == 1]

In [4]:
df['reporter?'].mean()

1.0

In [5]:
df = df - (df > 4)
df.head()

   first  second  third  winning  reporter?
0      2       0      0        0          1
1      0       4      1        0          1
2      0       0      0        0          1
3      2       0      0        0          1
4      0       0      0        0          1

In [37]:
def correction(df, name):
    ret = np.unique(df[name], return_counts = True)[1]
    if name == 'second': 
        ret = np.append(ret, ret[5])
        ret[5] = 0
    return ret / 138

In [45]:
names = ['first', 'second', 'third']
model = np.vstack([correction(df, name) for name in names])
model

array([[0.42753623, 0.35507246, 0.10144928, 0.04347826, 0.02173913,
        0.00724638, 0.04347826],
       [0.61594203, 0.05797101, 0.17391304, 0.11594203, 0.00724638,
        0.        , 0.02898551],
       [0.55797101, 0.2826087 , 0.04347826, 0.00724638, 0.03623188,
        0.02173913, 0.05072464]])

In [8]:
def likehood(theta: pd.DataFrame, model) -> float:
    return -np.sum(np.log(theta) * model)

In [9]:
expected = np.array([1 / 2, 1 / 4, 1 / 8, 1 / 16, 1 /64, 1 / 64, 1 / 32])
theta = np.array([expected,
                 expected,
                 expected])
theta

array([[0.5     , 0.25    , 0.125   , 0.0625  , 0.015625, 0.015625,
        0.03125 ],
       [0.5     , 0.25    , 0.125   , 0.0625  , 0.015625, 0.015625,
        0.03125 ],
       [0.5     , 0.25    , 0.125   , 0.0625  , 0.015625, 0.015625,
        0.03125 ]])

##  Ограничения.

 * $\theta \geq 0$
 .$0 \leq I_{21} \dot \theta \leq \text{np.inf}$
 * $\sum_i p_i^j = 1$.
 1 $\leq (111100000000\\
                               000011110000\\
                               000000001111)\theta \leq 1 $
 * $\mathbb E \text{reward} $.
 $\mathbb E = p^3 \otimes (p^2 \otimes (p^1 \otimes M))$
 
 Надо еще найти $\theta_0$, чутка уменьшить вероятность 0 и увеличить вероянтость алмазика, пока $\mathbb E \ne 0.92$

In [10]:
def winning(a, b, c):
    cs = [0, 0, 0, 0, 0, 0, 0]
    cs[a] += 1
    cs[b] += 1
    cs[c] += 1
    trips = [0, 10, 25, 40, 800, 10, 80]
    for i, t in enumerate(cs):
        if t == 3: return trips[i]
    if sum(cs[1:4]) == 3: return 5
    if cs[5] == 2 and cs[4] == 0: return 5
    if cs[5] == 1 and cs[4] == 0: return 2
    if cs[4] == 1:
        for i, t in enumerate(cs):
            if t == 2: return 2 * trips[i]
        if cs[5] == 1: return 10
        if sum(cs[1:4]) == 2: return 10
    if cs[4] == 2:
        for i, t in enumerate(cs):
            if t == 1: return 4 * trips[i]
    return 0

In [11]:
from scipy.optimize import bisect

In [39]:
def cheat(cx, model):
    model[1][0] -= cx
    model[1][4] += cx
    e = 0
    for a in range(7):
        for b in range(7):
            for c in range(7):
                e += winning(a, b, c) * model[0][a] * model[1][b] * model[2][c]
    return e - 0.92

c = bisect(cheat, 0, 1, args = model)

In [46]:
model[1][0] -= c
model[1][4] += c
print(np.sum(model, axis=1))
print(model)

[1. 1. 1.]
[[0.42753623 0.35507246 0.10144928 0.04347826 0.02173913 0.00724638
  0.04347826]
 [0.61594203 0.05797101 0.17391304 0.11594203 0.00724638 0.
  0.02898551]
 [0.55797101 0.2826087  0.04347826 0.00724638 0.03623188 0.02173913
  0.05072464]]

In [14]:
from scipy.optimize import minimize

In [41]:
def jacob(x, model):
    return -model / x

In [56]:
def hessi(x, model):
    return np.diag(model / x ** 2)

In [47]:
model = np.hstack(model)
model

array([0.42753623, 0.35507246, 0.10144928, 0.04347826, 0.02173913,
       0.00724638, 0.04347826, 0.61594203, 0.05797101, 0.17391304,
       0.11594203, 0.00724638, 0.        , 0.02898551, 0.55797101,
       0.2826087 , 0.04347826, 0.00724638, 0.03623188, 0.02173913,
       0.05072464])

In [ ]:
from scipy.optimize import LinearConstraint, NonlinearConstraint

In [55]:
ret = minimize(likehood, model, args=model,
              jac = jacob,
              hess = hessi,
              constraints = [
                  {
                      'type': 'ineq', 'fun': LinearConstraint()
                  }
              ]
              )

D:\coding\Conda\lib\site-packages\scipy\optimize\_minimize.py:524: RuntimeWarning: Method BFGS does not use Hessian information (hess).
  warn('Method %s does not use Hessian information (hess).' % method,
<ipython-input-8-1a5411671a2e>:2: RuntimeWarning: divide by zero encountered in log
  return -np.sum(np.log(theta) * model)
<ipython-input-8-1a5411671a2e>:2: RuntimeWarning: invalid value encountered in multiply
  return -np.sum(np.log(theta) * model)
<ipython-input-41-a171c7398d1f>:2: RuntimeWarning: invalid value encountered in true_divide
  return -model / x