In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

np.random.seed(1337)
data = pd.DataFrame({'x': ss.norm.rvs(size=100)})
data[:10]

          x
0 -0.703187
1 -0.490282
2 -0.321814
3 -1.755079
4  0.206664
5 -2.011265
6 -0.557251
7  0.337217
8  1.548836
9 -1.370737

In [2]:
from typing import Callable
import pandas

def bootstrap_t(data: pandas.DataFrame, statistic: Callable[[pandas.DataFrame], float], iterations=1000, std_iter=50, alpha=0.02):
    # ...
    theta = statistic(data)
    res = []
    sts = []
    for i in range(iterations):
        resample = data.sample(frac=1, replace=True, random_state=i)
        res.append(statistic(resample) - theta)
        # ...
        stdd = []
        for j in range(std_iter):
            reresample = resample.sample(frac=1, replace=True, random_state=i*std_iter+j)
            # ...
            stdd.append(statistic(reresample))
        sts.append(np.std(stdd, ddof=1))
    # ...
    stdteta = np.std(res, ddof=1)
    res = np.array(res)
    res /= sts
    t_1, t_2 = np.quantile(res, alpha / 2), np.quantile(res, 1 - alpha / 2)
    return theta - stdteta * t_2, theta - stdteta * t_1

In [ ]:
bootstrap_t(data, np.median)

# Домашка.

In [ ]:
law_school_data = [(576, 3.39), (635, 3.30), (558, 2.81), (578, 3.03), (666, 3.44),
                   (580, 3.07), (555, 3.0), (661, 3.43), (651, 3.36), (605, 3.13),
                   (653, 3.12), (575, 2.74), (545, 2.76), (572, 2.88), (594, 2.96)]
law_school_df = pd.DataFrame(law_school_data, columns=['LSAT', 'GPA'])

In [ ]:
ss.norm.ppf(0.5)